body {
  background-color: #92b0a4;
}

h1 {
    color: #416e5d;
  }

/* unvisited link */
a:link {
  color: #873979;
}

/* visited link */
a:visited {
  color: #873979;
}

/* mouse over link */
a:hover {
  color: #92b0a4;
}

/* selected link */
a:active {
  color: #92b0a4;
}

*{
  font-family: monospace;
  color:#92b0a4;
}

img {
  width: 300px;
  heigth: 300px;
}

.imageDiv {
  width: 50%;
}
